#!/usr/bin/make -f
export PYBUILD_NAME=vorta
export PYBUILD_TEST_PYTEST=1

%:
	dh $@ --buildsystem=pybuild

override_dh_python3:
	dh_python3
	mkdir -p debian/vorta/usr/share/applications/ \
	         debian/vorta/usr/share/pixmaps/ \
				debian/vorta/usr/lib/python3/dist-packages/vorta/i18n/qm/
	make translations-to-qm
	mv src/vorta/i18n/qm/*.qm debian/vorta/usr/lib/python3/dist-packages/vorta/i18n/qm
	cp debian/vorta/usr/lib/python3/dist-packages/vorta/assets/metadata/com.borgbase.Vorta.desktop \
	   debian/vorta/usr/share/applications/
	cp package/icon.svg \
	   debian/vorta/usr/share/pixmaps/com.borgbase.Vorta.svg